.w-13 {
    width: 13%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.h-78 {
    height: 78.25%;
}

.w-84 {
    width: 84%;
}

.w-90 {
    width: 90%;
}

.bg-bamboo-green {
    background-color: #6B9362;
}

.bg-bamboo-green-light {
    background-color: #8cb382;
}

.bg-bamboo-brown {
    background-color: #C59C60;
}

tr.bg-gold th, tr.bg-gold td {
    background-color: #ffd700;
}

tr.bg-silver th, tr.bg-silver td {
    background-color: #c0c0c0;
}

tr.bg-bronze th, tr.bg-bronze td {
    background-color: #cd7f32;
}

tr.me {
    border: solid 2px black;
}

.fixed-top-on-scroll {
    position: sticky;
    top: 0;
}

.inline {
    display: inline-block;
}

.cell, .hint, .removed, .preview {
    display: grid;
    appearance: none;
}

.cell::before {
    content: "";
    width: 30px;
    height: 30px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2em 2em black;
}

.hint::before {
    content: "";
    width: 30px;
    height: 30px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2em 2em #fad91b;
}

.removed::before {
    content: "";
    width: 30px;
    height: 30px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2em 2em #dc133c;
}

.preview::before {
    content: "";
    width: 14px;
    height: 14px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2em 2em black;
}

.cell:checked::before, .hint:checked::before, .removed:checked::before, .preview:checked::before {
    transform: scale(1);
}

.table-cell {
    width: 30px;
    height: 30px;
}

.table-cell-preview {
    width: 14px;
    height: 14px;
}

.field {
    width: auto !important;
}

.b-r {
    border-right: 2px solid black !important;
}

.b-b {
    border-bottom: 2px solid black !important;
}

.border-none {
    border: none !important;
}

.card-height {
    height: 220px;
}

.pagination > li > a,
.dropdown-toggle > .page-link > a {
    background-color: white;
    color: #198754;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.dropdown-toggle.page-link:focus,
.dropdown-toggle.page-link:hover,
.dropdown-item:hover {
    color: black !important;
    background-color: #eee !important;
    border-color: #ddd !important;
}

.pagination > .active > a,
.dropdown-item.active {
    color: white;
    background-color: #198754 !important;
    border: solid 1px #198754 !important;
}

.pagination > .active > a:hover,
.dropdown-item.active:hover {
    background-color: #198754 !important;
    border: solid 1px #198754 !important;
}

.active > .page-link {
    z-index: 1 !important;
}

.dropdown-menu {
    z-index: 1 !important;
    min-width: 4rem !important;
}

.dropdown-toggle {
    color: #198754 !important;
}