.w-13 {
    width: 13%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-84 {
    width: 84%;
}

.h-78 {
    height: 78.25%;
}

.bg-bamboo-green {
    background-color: #6B9362;
}

.bg-bamboo-green-light {
    background-color: #8cb382;
}

.bg-bamboo-brown {
    background-color: #C59C60;
}

.fixed-top-on-scroll {
    position: sticky;
    top: 0;
}

.inline {
    display: inline-block;
}

.cell {
    display: grid;
    appearance: none;
}

.cell::before {
    content: "";
    width: 30px;
    height: 30px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2em 2em black;
}

.cell:checked::before {
    transform: scale(1);
}

.hint {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.table-cell {
    width: 30px;
    height: 30px;
}

.field {
    width: auto !important;
}

.b-r {
    border-right: 2px solid black !important;
}

.b-b {
    border-bottom: 2px solid black !important;
}

.border-none {
    border: none !important;
}

.card-height {
    height: 220px;
}

.pagination > li > a,
.dropdown-toggle > .page-link > a {
    background-color: white;
    color: #198754;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.dropdown-toggle.page-link:focus,
.dropdown-toggle.page-link:hover,
.dropdown-item:hover {
    color: black !important;
    background-color: #eee !important;
    border-color: #ddd !important;
}

.pagination > .active > a,
.dropdown-item.active {
    color: white;
    background-color: #198754 !important;
    border: solid 1px #198754 !important;
}

.pagination > .active > a:hover,
.dropdown-item.active:hover {
    background-color: #198754 !important;
    border: solid 1px #198754 !important;
}

.active > .page-link {
    z-index: 1 !important;
}

.dropdown-menu {
    z-index: 1 !important;
    min-width: 4rem !important;
}

.dropdown-toggle {
    color: #198754 !important;
}